# config - settings 들어가서 시크릿키를 자신걸로 변경
SECRET_KEY=your_secret_key_here
DEBUG=True

# config - settings 들어가서 디비 부분 이걸로 수정
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': BASE_DIR / 'db.sqlite3',
    }
}